/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

body {
    overflow: auto !important;
    }
    body:after {
      display: none !important;
    }
    
#main {
      opacity: 1.0 !important;
      transform: none !important;
      transition: none !important;
      filter: none !important;
}