@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --bgColor: #6E73E6;
    --bgColor2: #9C6EE6;
    --accentColor: #d0a0f3;
    --font: 'Karla', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 10%, var(--bgColor2) 150%);
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    padding: 1rem 1rem 1rem 1rem;
}

#main {
    margin: auto;
    padding: 15px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    border: solid 1px #E8E8E8;
}

#main:after {
    box-sizing: border-box;
}

#img-circle {
    border: solid var(--accentColor);
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: #878787;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

#button.n01 {
    background-color: #6E73E6;
}
#button.n02 {
    background-color: #786EE6;
}
#button.n03 {
    background-color: #866EE6;
}
#button.n04 {
    background-color: #9C6EE6;
}
#button.n05 {
    background-color: #B16EE6;
}
#button.n06 {
    background-color: #be83eb;
}
#button.n07 {
    background-color: #d0a0f3;
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    /*  animation   */
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.fab, .fa {
    position: absolute;
    right: 6px;
}

.link {
    position: relative;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    text-align: left;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color:  #9095FC !important;
        color: white;
    }
}

.link:active {
    background-color: var(--accentColor);
    color: white;
}

